.people {
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
  flex: 1;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  
  text-align: center;
  justify-content: center;
  border-radius: 12px;
}

.image {
  display: block;
  border-radius: 50px;
}